---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle} >
	<div class="content" id="photos">
		<h1>Photos</h1>
			<div id="photos" class="section photos">
				
			<img src="/images/photos/1.jpg" alt="" />
		
			<img src="/images/photos/2.jpg" alt="" />
		
			<img src="/images/photos/3.jpg" alt="" />

			<img src="/images/photos/4.jpg" alt="" />

			<img src="/images/photos/5.jpg" alt="" />

			<img src="/images/photos/6.jpg" alt="" />

			<div class="img">
				<img src="/images/photos/7.jpg" alt="" />
			</div>
		</div>
	</div>

</BaseLayout>
