---
---
<div class="stage">
    <canvas transition:name="terrain-bg" id="terrain-bg-canvas" height="700" width="550"></canvas>
    <canvas transition:name="terrain" id="terrain-canvas" height="700" width="550"></canvas>
</div>
<script is:inline src="/scripts/noise/perlin.js"></script>
<script is:inline src="/scripts/terrain.js"></script>
