body
{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

*
{
    box-sizing: border-box;
}

h1, h2 {
    font-weight: 200;
    text-align: center;
}

header {
	background: url('../images/background.jpg');
	background-color: #696969;
    background-size: cover;
    background-position: 70% 40%;
    color: #ffffff;
    text-align: center;
}

header h1 {
    font-family: Raleway, sans-serif;
}

.content {
  width: 600px;
  margin: 0 auto;
}

.content .section {
    padding: 60px 0 0 0;
}

header .content {
	width: 100%;
	padding: 80px 20px 40px 20px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

header .content h1 
{
    font-weight: 600;   
    font-size: 3.1em;
    line-height: 0.9em;
    color: #fff;
    margin-top: 20px;
    text-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}

header .content p 
{
    font-size: 1.3em;
	margin: 5px 0 0 0;
	color: rgb(214, 214, 214);
	text-shadow: rgba(0, 0, 0, 0.48) 0 0 3px;
}

#contact-button {
	display: block;
    width: 140px;
    padding: 2px;
	border-radius: 15px;
	border: 2px solid rgb(84, 214, 179);
	margin: 0 auto;
    font-size: 1.2em;
    color: rgb(84, 214, 179);
	text-decoration: none !important;
}

#contact-button:hover {
    background-color: rgba(84, 214, 179, 0.3);
}

@media screen and (max-height: 400px) {
	.content {
		padding-top: 60px;
		height: 100%;
	}
	
	footer {
		width: 200px;
	}
}

@media screen and (max-height: 320px) {
	.content {
		padding-top: 30px;
		height: 100%;
	}
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px 15px;
	font-size: 0.75em;
	color: rgba(255,255,255,0.4);
	text-align: right;
}

footer a {
	color: rgba(255,255,255,0.4);
}

.info {
	cursor: help;
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 10px;
	width: 14px;
	height: 14px;
	line-height: 1.4em;
	font-size: 0.9em;
	padding-left: -10px;
	text-align: center;
}

#profile-picture
{
    width: 130px;
    height: 130px;
    border-radius: 65px;   
}

i
{
    color: rgb(84, 214, 179);
    display: block;
    margin: 10px 0 15px 0;
    font-size: 1.3em;
}

#page
{
    padding: 50px;
    background-color: rgba(255,255,255,1);
}

@media only screen and (max-width: 480px) {

    #page, .container {
            padding:20px;
    }

}

p
{
    margin: 5px 0;   
}

h1, h2
{
    margin: 10px 0 0 0;  
    font-weight: 300;
}

h1
{
    font-size: 3.6em;
    color: rgb(84, 214, 179);  
    font-family: Raleway, sans-serif;
    font-weight: 100;
}

h2
{
    font-size: 1.8em;
    color: rgb(84, 214, 179); 
}

strong
{
    display: block;
    margin-top: 3px;
    font-weight: 700;   
}

#cover
{
    width: 100%;
    height: 100%;
    background-color: rgba(75, 206, 150, 0.55);
    padding: 1px;
}

#overview, #profile
{
    display: inline-block;
    vertical-align: top;
}

#overview
{
    list-style: none;
    padding-left: 0;
    margin: 30px auto 30px auto;
    font-weight: 200;
}

ul#overview li
{ 
    line-height: 1.2em;
    margin: 0 0 10px 0;
    text-align: center;
    display: inline-block;
    width: 170px;
    font-size: 0.9em;
}

ul#overview a li {
    text-decoration: none;
    color: white;
}

i
{
    color: rgb(81, 219, 160);
    display: block;
    margin: 10px;
    margin: 10px;
    font-size: 1.3em;
}

#profile
{
  text-align: center;
}

.highlight
{
    color: rgb(84, 214, 179);  
}

.timeline
{
    margin: 30px 0 30px 75px;
    padding: 20px 0 0 0;
    border-left: 2px dashed rgb(84, 214, 179);   
}

.timeline h2 {
    color: black;
    margin: 0;
    font-size: 1.1em;
    text-align: left;
    font-weight: 800;
}

.timeline h4 {
    color: #666;
    margin: 0 0 20px 0;
    font-size: 0.9em;
    text-align: left;
}

.timeline > ul > li
{
    margin-left: -36px;
    padding: 0 0 30px 20px;
    list-style: none;
}

.timeline .relative
{
    height: 0px;
}

.timeline .bullet
{
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(84, 214, 179);
    position: relative;
    left: -29px;
    top: 10px;
}

.timeline .bullet:after
{
    border-radius: 2px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    content: ' ';
    position: absolute;
    left: 2px;
    top: 2px;
}

.timeline .date
{
    position: relative;
    left: -114px;
    top: -15px;
    display: block;
    width: 80px;
    text-align: center;
    font-size: 0.7em;
    color: rgb(126, 126, 126); 
}

.date-to
{
    font-size: 0.5em;
    transform: scale3d(1, 1, 1);
    color: rgb(84, 214, 179); 
    margin-top: 2px;
    line-height: 1.3em;
}
