body
{
    margin: 0px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: hind, sans-serif;
    font-weight: 300;
    background: url('../images/bg-repeating-white1.png');
    background-color: rgb(233, 234, 240);
    cursor: url('../images/arrow.png'), auto;	
}

*
{
    box-sizing: border-box;
}

h1, h2 {
    font-weight: 800;
    text-align: center;
}

header {
    /* background: url('../images/bg-repeating-white1.png'); */
    /* background-size: 50%; */
    /* background-color: #696969; */
    background-color: rgb(255, 190, 13);
    /* background-size: cover; */
    /* background-position: 70% 40%; */
    color: #000;
    text-align: center;
}

header h1 {
    /* font-family: Raleway, sans-serif; */
    font-weight: 800;
    color: white;
    /* text-stroke: 1px black;
    -webkit-text-stroke: 1px black; */
    text-shadow: 3px 3px 0px black;
}

.content {
  width: 600px;
  margin: 0 auto;
}

.content .section {
    margin-top: 40px;
    /* padding: 60px 0 0 0; */
    background: url('../images/bg-repeating-white1.png');
    background-color: rgb(245, 239, 227);
    /* padding: 0 30px 30px 30px !important; */
    box-shadow: 10px 10px 0px black;
    border: 2px solid black;
    border-radius: 5px;
}

header .content {
	width: 100%;
    padding: 80px 20px 40px 20px;
}

.no
{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

header .content h1 
{
    font-weight: 600;   
    font-size: 4.8em;
    line-height: 0.9em;
    /* color: #fff; */
    margin-top: 20px;
    /* text-shadow: rgba(0, 0, 0, 0.3) 0 0 5px; */
}

header .content p 
{
    font-size: 1.3em;
	margin: 5px 0 0 0;
	/* color: rgb(214, 214, 214); */
	/* text-shadow: rgba(0, 0, 0, 0.48) 0 0 3px; */
}

header img {
    width: 100%;
    max-width: 700px;
}

#contact-button {
	display: block;
    width: 140px;
    padding: 2px;
	/* border-radius: 15px; */
	/* border: 2px solid rgb(84, 214, 179); */
	margin: 0 auto;
    font-size: 1.2em;
    color: white;
    background-color: rgb(36, 106, 235);
    text-decoration: none !important;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
    border-radius: 5px;
}
#contact-button.page {
    padding: 10px !important;
}

#contact-button:hover {
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.7);
    background-color: rgb(24, 86, 202);
}

@media screen and (max-height: 400px) {
	.content {
		padding-top: 60px;
		height: 100%;
	}
	
	footer {
		width: 200px;
	}
}

@media screen and (max-height: 320px) {
	.content {
		padding-top: 30px;
		height: 100%;
	}
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px 15px;
	font-size: 0.75em;
	color: rgba(255,255,255,0.4);
	text-align: right;
}

footer a {
	color: rgba(255,255,255,0.4);
}

.page {
    background-color: rgb(75, 238, 175);
    margin: 60px 0 0 0;
    padding: 0 !important;
    box-shadow: 10px 10px 0px black;
    border: 2px solid black;
    overflow: hidden;
}

.page .header {
    background-color: rgb(48, 177, 127);
    margin-bottom: 20px;
    padding: 5px;
    color: white;
    font-weight: 800;
    border-bottom: 2px solid black;
}

.page .page-content {
    padding: 20px 
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.modal .page {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.info {
	cursor: help;
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 10px;
	width: 14px;
	height: 14px;
	line-height: 1.4em;
	font-size: 0.9em;
	padding-left: -10px;
	text-align: center;
}

#profile-picture
{
    width: 130px;
    height: 130px;
    border-radius: 65px;   
}

i
{
    /* color: rgb(84, 214, 179); */
    color: white;
    display: block;
    margin: 10px;
    font-size: 2.3em;
    text-shadow: 3px 3px 0px black;
}

#page
{
    padding: 50px;
    background-color: rgba(255,255,255,1);
}

@media only screen and (max-width: 480px) {

    #page, .container {
            padding:20px;
    }

}

p
{
    margin: 5px 0;   
}

h1, h2
{
    margin: 10px 0 0 0;  
    font-weight: 800;
}

h1
{
    font-size: 3.6em;
    /* color: rgb(84, 214, 179);   */
    /* font-family: Raleway, sans-serif; */
    font-weight: 800;
}

h2
{
    font-size: 1.8em;
    color: rgb(84, 214, 179); 
}

strong
{
    display: block;
    margin-top: 3px;
    font-weight: 700;   
}

#cover
{
    width: 100%;
    height: 100%;
    background-color: rgba(75, 206, 150, 0.55);
    padding: 1px;
}

#overview, #profile
{
    display: inline-block;
    vertical-align: top;
}

#overview
{
    list-style: none;
    padding-left: 0;
    margin: 30px auto 30px auto;
    font-weight: 200;
}

ul#overview li
{ 
    line-height: 1.2em;
    margin: 0 0 10px 0;
    text-align: center;
    display: inline-block;
    width: 170px;
    font-size: 0.9em;
}

ul#overview a li {
    text-decoration: none;
    color: white;
}

#profile
{
  text-align: center;
}

.highlight
{
    color: rgb(84, 214, 179);  
}

.timeline
{
    margin: 30px 0 30px 75px;
    padding: 20px 0 0 0;
    border-left: 2px dashed rgb(84, 214, 179);   
}

.timeline h2 {
    color: black;
    margin: 0;
    font-size: 1.1em;
    text-align: left;
    font-weight: 800;
}

.timeline h4 {
    color: #666;
    margin: 0 0 20px 0;
    font-size: 0.9em;
    text-align: left;
}

.timeline > ul > li
{
    margin-left: -36px;
    padding: 0 0 30px 20px;
    list-style: none;
}

.timeline .relative
{
    height: 0px;
}

.timeline .bullet
{
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(84, 214, 179);
    position: relative;
    left: -29px;
    top: 10px;
}

.timeline .bullet:after
{
    border-radius: 2px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    content: ' ';
    position: absolute;
    left: 2px;
    top: 2px;
}

.timeline .date
{
    position: relative;
    left: -114px;
    top: -15px;
    display: block;
    width: 80px;
    text-align: center;
    font-size: 0.7em;
    color: rgb(126, 126, 126); 
}

.date-to
{
    font-size: 0.5em;
    transform: scale3d(1, 1, 1);
    color: rgb(84, 214, 179); 
    margin-top: 2px;
    line-height: 1.3em;
}
