
.icon-location:before { content: '\e800'; } /* '' */
.icon-moon-inv:before { content: '\e801'; } /* '' */
.icon-sun-filled:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
